{% include base_path %}

{% assign verdicts = "verifiable,nonverifiable,nosource,custodial" | split: "," %}
<table id="gridOfWallets1">
  <thead>
    <tr>
      <td>verified</td>
      <td>verifiable</td>
      <td>not verifiable</td>
      <td>closed source</td>
      <td>custodial</td>
    </tr>
    <tr>
      <td>0?</td>
      {% for v in verdicts %}
        {% assign total = 0 %}
        {% for post in site.posts %}
          {% if post.verdict == v %}
            {% assign total = total | plus: 1 %}
          {% endif %}
        {% endfor %}
        <td>
          {{ total }}
        </td>
      {% endfor %}
    </tr>
  </thead>
  <tr><td></td>
  {% for v in verdicts %}
    <td>
    {% assign posts = site.posts | sort: "users" | reverse %}
    {% for post in posts %}
      {% if post.verdict == v %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">
          <img src="/images/wallet_icons/small/{{ post.icon }}" class="app_logo"
            alt="Wallet Logo" style="height:3em;width:auto;float:left;margin:0.3em">
        </a> 
      {% endif %}
    {% endfor %}
    </td>
  {% endfor %}
  </tr>
</table>
