{% include base_path %}

{% assign posts_by_ratings = site.posts | sort: "ratings" | reverse %}
{% assign downloads = "100000000,50000000,10000000,5000000,1000000,500000,100000,50000,10000,5000,1000,500,100,50,10,5" | split: "," %}
{% assign verdicts = "verifiable,nonverifiable,nosource,custodial" | split: "," %}
<div id="sidebarWalletList">
{% for verdict in verdicts %}
  {% case verdict %}
    {% when "verifiable" %}    {% assign verdictLabel = "Verifiable when tested" %}
    {% when "nonverifiable" %} {% assign verdictLabel = "Not verifiable" %}
    {% when "nosource" %}      {% assign verdictLabel = "Closed Source" %}
    {% when "custodial" %}     {% assign verdictLabel = "Custodial" %}
    {% when "wip" %}           {% assign verdictLabel = "WIP" %}
    {% when "fewusers" %}      {% assign verdictLabel = "Few users" %}
    {% when "defunct" %}       {% assign verdictLabel = "Defunct" %}
    {% when "nobtc" %}         {% assign verdictLabel = "Non-BTC" %}
    {% when "nowallet" %}      {% assign verdictLabel = "No Wallets" %}
    {% else %}                 {% assign verdictLabel = "???" %}
  {% endcase %}
  <div class="verdict {{ verdict }}" style="margin:1em 0em 0.5em 0em">{{ verdictLabel }}</div>
  {% assign verdictPosts = posts_by_ratings | where: "verdict", verdict %}
  {% for d in downloads %}
    {% assign downloadsPosts = verdictPosts | where: "users", d %}
    {% for post in downloadsPosts %}
      {% include list_of_wallets_sidebar_item.html %}
    {% endfor %}
  {% endfor %}
{% endfor %}
</div>
<div id="sidebarWalletListShowButton">
  <button class="btn" id="showWallets">Show more ...</button>
</div>
