{% include base_path %}

{% if post.altTitle %}
  {% assign title = post.altTitle %}
{% else %}
  {% assign title = post.title %}
{% endif %}

{% if post.id %}
  {% assign title = title | markdownify | remove: "<p>" | remove: "</p>" %}
{% endif %}

{% case post.verdict %}
  {% when "wip" %}
    {% assign vLabel   = 'WIP' %}
    {% assign vTooltip = 'Work in progress. We still have to analyze this wallet' %}
  {% when "fewusers" %}
    {% assign vLabel   = 'Few&nbsp;users' %}
    {% assign vTooltip = 'This app has too few users for now to be reviewed in detail.' %}
  {% when "defunct" %}
    {% assign vLabel   = 'Defunct' %}
    {% assign vTooltip = 'This app went out of business ... or so. Read the analysis for details.' %}
  {% when "custodial" %}
    {% assign vLabel   = 'Custodial!' %}
    {% assign vTooltip = 'As the provider of this app holds the users coins,
      verifiability of the app is not relevant wether or not the funds are secure!' %}
  {% when "nobtc" %}
    {% assign vLabel   = 'Non-BTC' %}
    {% assign vTooltip = 'The app cannot send and receive BTC. We currently do
      not investigate other cryptocurrencies.' %}
  {% when "nowallet" %}
    {% assign vLabel   = 'Not&nbsp;a&nbsp;wallet' %}
    {% assign vTooltip = 'We could not find this to be an app meant to store
      receive and send coins.' %}
  {% when "nosource" %}
    {% assign vLabel   = 'No&nbsp;source!' %}
    {% assign vTooltip = 'Without public source available, this app cannot be verified!' %}
  {% when "nonverifiable" %}
    {% assign vLabel   = 'Not&nbsp;verifiable!' %}
    {% assign vTooltip = 'The app provider also shares code but we could so far
      not verify that the published code matches the published app!' %}
  {% when "verifiable" %}
    {% assign vLabel   = 'Verifiable when tested' %}
    {% assign vTooltip = 'At the time of this analysis, the app on Google Play
      was reproducible from the code provided by the developers!' %}
  {% else %}
    {% assign vLabel   = '???' %}
    {% assign vTooltip = '???' %}
{% endcase %}

{% comment %}
  Neither Liquid nor CSS have a nice pretty-print for numbers. As all numbers
  here have only one significant digit, getting number grouping can be achieved
  by replacing "000" with " 000" from the right and to avoid a space in that
  string, the first replacement zero gets a margin instead of a space.
{% endcomment %}
{% assign zeroGroupReversed = '<span style="margin-left: 0.2em;">0</span>00' | split: "" | reverse | join: "" %}
{% assign prettyUserCount = post.users | split: "" | reverse | join: "" | replace: "000", zeroGroupReversed | split: "" | reverse | join: "" %}

<tr>
  <td rowSpan="2">
    <div class="app_logo">
      <a href="{{ base_path }}{{ post.url }}" rel="permalink">
        <img src="/images/wallet_icons/small/{{ post.icon }}" class="app_logo" alt="Wallet Logo">
      </a>
    </div>
  </td><td colSpan="5">
    <nobr>
      <div class="app_info_box">
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">
          Analysis of <strong>{{ title }}</strong>
        </a>
      </div>
      (<a href="https://play.google.com/store/apps/details?id={{ post.appId }}">Google Play</a>
        {% if post.website %}/ <a href="{{ post.website }}">Website</a>{% endif %}
        {% if "http://localhost:4000" == base_path %}
          {% if post.repository %}/ <a href="{{ post.repository }}">SRC</a>{% endif %}
          {% if post.issue %}/ <a href="{{ post.issue }}">Iss</a>{% endif %}
          {% if post.providerTwitter %}/ <a href="https://twitter.com/{{ post.providerTwitter }}">Tw</a>{% endif %}
          {% if post.providerFacebook %}/ <a href="https://www.facebook.com/{{ post.providerFacebook }}">Fb</a>{% endif %}
          {% if post.providerReddit %}/ <a href="https://www.reddit.com/r/{{ post.providerReddit }}">Re</a>{% endif %}
          {% if post.providerLinkedIn %}/ <a href="https://www.linkedin.com/{{ post.providerLinkedIn }}">Li</a>{% endif %}
          {% if post.reviewStale %}/ <font color="red">stale</font>{% endif %}
        {% endif %})
    </nobr>
  </td>
</tr>
<tr {% if post.reviewStale %}class="reviewStale"{% endif %}>
  <td class="userCount">
    {{ prettyUserCount }}
  </td><td>
    {{ post.launchDate | date: '%Y-%m-%d' }}
  </td><td>
    {{ post.latestUpdate | date: '%Y-%m-%d' }}
  </td><td class="reviewDate">
    {% if post.verdict != "wip" %}
      {{ post.date | date: '%Y-%m-%d' }}
    {% endif %}
  </td><td class="verdict">
    <span class="{{ post.verdict }} tooltip">
      {{ vLabel }}
      <span class="tooltiptext">
        {{ vTooltip }}
      </span>
    </span>
  </td>
</tr>
