<script src="{{ base_path }}/assets/js/main.min.js"></script>

{% include analytics.html %}
{% include /comments-providers/scripts.html %}

<script type="text/javascript" src="{{ base_path }}/assets/js/walletlist.js" ></script>
